div{
    height: 50px;
    width: 100vw;
    background-color: brown;

}

h1{
    color: skyblue;

    margin-left: 43%;
    height: 50px;
    width: 300px;
}
input {
    width: 300px;
    padding: 20PX;
    margin-top: 3%;
    margin-left: 35%;
    border-radius: 5px;
    margin-top: 60px;
}

button{
    margin-left: 42%;
    margin-top: 2%;
    font-size: 20PX;
    border-radius: 5px;
    width: 100px;
}
li{
    margin-left:35% ;
    color: #fff;
}
